:root {
  --background: #2e2d2d;
  --green-500: #1d887a;
  --white: #ffffff;
  --gray-300: #888585;
}

/* Reset */

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  position: relative;
  width: 100%;
}

ul {
  list-style: none;
}

.avatar {
  border: 3px solid var(--white);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.ico-glass {
  width: 30px;
}

.my-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 40px;
  position: relative;
}

h1,
h2 {
  color: var(--gray-300);
  margin-top: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
}


/* My extra links */

.my-extra-links {
  padding: 24px 16px;
}

.my-extra-links li {
  border: 1px solid var(--gray-300);
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  transition: background-color .6s;
}

.my-extra-links li:not(:last-child) {
  margin-bottom: 12px;
}

.my-extra-links li a {
  color: var(--gray-300);
  text-decoration: none;
  transition: color .6s;
}

.my-extra-links li.divisor {
  cursor: initial;
  border: none;
  color: #2e9482;
  margin-bottom: 10px;
}

.my-extra-links li:not(.divisor):hover {
  background-color: var(--gray-300);
}

.my-extra-links li:not(.divisor):hover a {
  color: var(--background);
}

/* My social network links */

.social-network-links {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.social-network-links svg {
  height: 30px;
  width: 30px;
}

.social-network-links svg path {
  fill: var(--gray-300);
  transition: fill .6s;
}

.social-network-links svg:hover path {
  fill: var(--green-500);
}

canvas {
  position: absolute;
  z-index: -100;
}